body 
{
	background-color: #360F59;
	
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color:#311549;
    height: 100%; 
    position: fixed; 
    overflow: auto;
    left: 0px;
    top: 0px;
    width: 125px;
    font-family: "Avenir Next";
    font-weight: bold;
    font-size: 100%;
    text-align: center;

   

}
#profileicon
{
	border-radius: 50px;
	height:75px; 
	width:75px;
}

#loginicon
{
	border-radius: 50px;
	height: 75px;
	width: 75px;
	
}
#abouticon
{
	border-radius: 50px;
	height: 75px;
	width: 75px;
}
#prescriptionicon
{
	border-radius: 50px;
	height: 75px;
	width: 75px;
}

li
{

	display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    height:100px;
    width: 100%;
    
}
li:hover {
    background-color: #553472;
    color: white;
}
.active {
    background-color: blue;
}
li a:visited{
	color: #6A6A6A;

}

.modal,.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 200px;
    top: 50px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
     /* Fallback color */
     /* Black w/ opacity */

}


#myModal
{
	background-image: url("profile.png");
	background-repeat: no-repeat;

}
#myModal1
{
	background-image: url("pview.png");
	background-repeat: no-repeat;

}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */

}
.modal1-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */

}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#myBtn
{
	position: absolute;
	top: 300px;
	left: 500px;
}
#profileview
{
	border-radius: 10px;
}
#table
{
	position: absolute;
	left: 150px;
	top:60px;
	padding: 15px;
    text-align: left;
	border: 1px solid black;
	border-color: #86DAE9;
	font-size: 20px;
	font-family: "Avenir Next";
	font-weight: normal;
	
}
#ptable
{
	position: absolute;
	left: 100px;
	top:80px;
	padding: 15px;
    text-align: left;
	margin-left: 45px;
	margin-top: -30px;
	font-size: 20px;
	font-family: "Verdana";
	font-weight: normal;
	height: 300px;
}
th
{
	font-size: 15px;
	font-style: italic;
	font-weight: 0px;
}
#prest
{
	font-family: "Verdana";
	font-size: 20px;
	color: white;
	margin-left: 150px;
}
* {
    box-sizing: border-box;
    
    
}


/* Create two equal columns that floats next to each other */
.column {
    
    float:left;
    width: 25%;
    padding: 10px;
   
   
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    
}
.row
{
	margin-left: 220px;
}
/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    margin-left: 220px;

}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}

h3
{
	position: absolute;
	margin-left: 200px;
	color: white;
	font-style: underline;
}
#exp1
{
	color: black;
	font-family: "Avenir Next";
	font-style: bold;
	font-size: 20px;
	background-color: white;
  
    
}
#ref
{
	color: white;
	position: absolute;
	margin-left: 200px;

}