<!DOCTYPE html>
<html>
    <head>
        <title>Wikitechy AngularJS Tutorials</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

    </head>
    <body>
       
        <div ng-app="myApp" ng-controller="jsonCtrl" >

            <h3>JSON Fetching example in AngularJS </h3>
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Car</th>
                    <th>Model</th>
                </tr>
                <tr ng-repeat="x in myObject " >
                    <th>{{x.id}}</th>
                    <th>{{x.Car}}</th>
                    <th>{{x.Model}}</th>
                </tr>
            </table>
              
        </div>   
        <script>
            var app = angular.module("myApp", []);
            app.controller("jsonCtrl", function($scope, $http) {
                $http.get("https://api.myjson.com/bins/12ifyb")
                .then(function (res) {
                    
                    
                    $scope.myObject=res.data;
                    
                    var x = res.data;
                    
                    console.log(x);
                    
    
for (var i = 0; i < x.length; i++){


   
  document.write("<br><br>array index: " + i);
 
  console.log("yello" +i);

  var obj = x[i];


  for (var key in obj){

    var value = obj[key];
 
    document.write("<br> - " + key + ": " + value);

  

  }
}



                    //console.log(res.data.records);

                });                  
            });
        
    </script>
    
 
    </body>
</html>